

<div id="offlineNotification" *ngIf="offline">You are currently offline</div>


<!-- <app-navigation *ngIf="auth.user$ | async; "></app-navigation> -->
<app-navigation></app-navigation>

<ng-container *ngIf="isApp">
  <main [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</ng-container>

<ng-container *ngIf="!isApp">
  <main>
    <router-outlet></router-outlet>
  </main>
</ng-container>

<button *ngIf="Pwa.promptEvent" (click)="installPwa()">
  Install
</button>
