<nav>
  <div>
    <a class="logo" [routerLink]="['/home']" routerLinkActive="router-link-active">HD
      <!-- <img style="display:inline-block" height="40" style="border: 1px solid black;"> -->
    </a>
  </div>
  <div>
    <a class="linkText" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
    <a class="linkText" [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
    <a class="linkText" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a>
  </div>
</nav>
