.table {
  .thead, .tbody { display: flex; flex-direction: column; }
  .thead { border-bottom: 1px dotted gray; }
  .tr {
    width: 100%;

    &.checked .td > input { background: blue; color: white; }
  }
  .th, .td {

    &:nth-child(1) { width: 40px; }
    &:nth-child(2) { width: calc(100vw - 80px) ; }
    &:nth-child(3) { width: 40px; }


    input, button { margin: 0; padding: 2px; }
    input[type=text] { width: 100%; height: 40px; }
    input[type=checkbox] { width: 40px; height: 40px; }
    button { height: 40px; width: 40px; }

    display: inline-block;
    text-align: left;
  }
  .td { height: 40px; max-height: 40px; overflow: hidden; }

}

button { width: 100%; height: 40px; }
